:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//ul, ol {
//    list-style-position: inside;
//}

body {
    box-sizing: inherit;
    font-family: 'Lato', sans-serif;
    color: var(--color-secondary);
    font-size: 1rem;
    line-height: 1.2;
}

img {
    max-width: 100%;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0 16px;
    margin: 0 auto;

    @media (min-width: 768px) {
        & {
            padding: 0 24px;
            max-width: 720px;
        }
    }

    @media (min-width: 1024px) {
        & {
            max-width: 960px;
        }
    }

    @media (min-width: 1280px) {
        & {
            max-width: 1200px;
        }
    }
}

h1, h2, h3 {
    font-family: var(--second-family), sans-serif;
    color: var(--color-text-headers);
    font-weight: 400;
}

h1 {
    font-size: 1.9rem; /* 30px */
    line-height: 1.4;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.75rem; /* 24px */
    margin-bottom: 1.25rem;
}

h3 {
    font-size: 1.375rem; /* 22px */
    margin-bottom: 1rem;
}

.active {
    display: block;
}

body.active {
    background-color: #16333F;
}

.body-lock {
    overflow: hidden;
    position: fixed; /* Фиксирует позицию (альтернатива) */
    width: 100%; /* Фикс для iOS */
}

.js-mobile-bg.active {
    background: none;
}