@use "variables";
@use "styles";
@use "components/header";
@use "components/first-screen";
@use "components/swiper";
@use "components/rent";
@use "components/routes";
@use "components/events";
@use "components/advantages";
@use "components/gallery";
@use "components/steps";
@use "components/faq";
@use "components/contacts";
@use "components/info";
@use "components/footer";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Prosto+One&display=swap');