.advantages {
    position: relative;
    background: url("../../img/advantages-bg.jpg") no-repeat;
    background-position: center bottom -50px;;
    background-size: cover;
    padding-bottom: 1rem;
    margin-bottom: 5rem;

    @media (min-width: 768px) {
        padding: 2rem;
    }

    &__main-title {
        position: absolute;
        top: 100px;
        left: 100px;
        hyphens: auto;
        padding: 0 10px;
        font-family: var(--second-family), sans-serif;
        font-size: 2.5rem;
        line-height: 1.22;
        color: var(--color-text-light);

        @media (min-width: 768px) {
            position: static;
        }
    }

    &__img {
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__list {
        margin-top: 2rem;
    }

    &__list {
        &-item {
            font-size: 0.8rem;
            padding: 0.5rem 0;
            color: var(--color-text-light);

            &_highlighted {
                font-size: 1rem;
                color: var(--color-primary);
            }
        }
    }
}