.events {
    margin-bottom: 6rem;

    &__main-title {
        text-align: center;
    }

    &__carousel {
        & .swiper-pagination {
            position: static;
            width: 50px;
            min-width: 50px;
        }

        &-img {
            width: 100%;
            margin-bottom: 2rem;
        }

        &-title {
            font-family: var(--second-family), sans-serif;
            font-size: 1.1rem;
            line-height: 1.2;
            color: var(--color-text-headers);
            margin-bottom: 1rem;
        }

        &-text {
            color: var(--color-secondary);
            font-size: 0.9rem;
            line-height: 1.57;
            margin-bottom: 2rem;
        }

        &-nav {
            display: flex;
            gap: 10px;
            align-items: center;
            margin-bottom: 20px;
        }

        & .swiper-button-next,
        & .swiper-button-prev {
            position: static;
            width: 23px;
            height: 6px;
            margin: 0;
        }

        & .swiper-button-next:after {
            content: "";
            background: url("../../img/icons/arrow-next-2.svg") no-repeat;
            background-size: cover;
            width: 23px;
            height: 6px;
        }

        & .swiper-button-prev:after {
            content: '';
            background: url("../../img/icons/arrow-prev-2.svg") no-repeat;
            background-size: cover;
            width: 23px;
            height: 6px;
        }


    }
}