.first-screen {
    margin-bottom: 3rem;
    color: var(--color-text-light);
    position: relative;
    z-index: 1;

    &__bg {
        background: url("../../img/main-bg-mob.png") no-repeat center;
        background-size: cover;
        min-height: calc(100vh - 52px);
        position: relative;
        overflow: hidden;

        @media (min-width: 768px) {
            background: url("../../img/main-bg.jpg") no-repeat center;
            background-size: cover;
        }
    }

    &__title {
        font-family: var(--second-family), sans-serif;
        margin-top: 12rem;
        margin-bottom: 1rem;
        letter-spacing: 0;
        font-size: 2.125rem;
        text-align: center;

        & span {
            letter-spacing: 0.05em;
            font-size: 2.5rem;
            font-weight: 600;
        }
    }

    &__carousel {
        //z-index: -1;
        position: relative;
    }
}