.gallery {
    margin-bottom: 5rem;

    &__main-title {
        text-align: center;
    }


    &__box {
        @media (min-width: 1024px) {
            display: grid;
            grid-template-columns: 1fr 400px;
            gap: 16px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (min-width: 768px) {

        }
    }

    &__item {
        &_wide {
            grid-area: auto / span 2;
        }
    }

    &__block {
        margin-bottom: 1rem;

        &_left {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
        }

        &_right {
            display: grid;
            grid-template-columns: 1fr;
            gap: 16px;
        }
    }
}