.info {
    @media (min-width: 768px) {
        margin-bottom: 5rem;
    }

    &__items {
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-between;
            gap: 50px;
        }
    }
    
    &__main-title {
        text-align: center;
    }

    &__text {
        margin-bottom: 0.5rem;
        font-weight: 300;
    }

    &__button {
        width: 100%;
        padding: 12px;
        background-color: var(--color-bg);
        color: var(--color-text-light);
        border: none;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__img-block {
        margin-right: -16px;
        margin-left: -16px;
        width: calc(100% + 32px);
    }

    &__img {
        width: 100%;
    }
}