.first-screen__carousel {
    margin-bottom: 1rem;

    &-nav {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 20px;
    }

    & .swiper-button-next,
    & .swiper-button-prev {
        position: static;
        width: 40px;
        height: 40px;
        margin: 0;
    }

    & .swiper-button-next:after {
        content: "";
        background: url("../../img/icons/arrow-next.svg") no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }

    & .swiper-button-prev:after {
        content: '';
        background: url("../../img/icons/arrow-prev.svg") no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }

    &-slide {

    }

    &-img {
        width: 100%;

        @media (min-width: 768px) {
            max-width: 272px;
        }
    }
}

